{{ define "main"}}
<div id="archive">
  <ul class="post-list">
    {{ range (sort .Paginator.Pages "Date" "desc") }}
    {{ $pageYear := (.Date.Format "2006") }}
    {{ if (ne $pageYear ($.Scratch.Get "year")) }}
    {{ $.Scratch.Set "year" $pageYear }}
    <h2>{{ $pageYear }}</h2>
    {{ end }}
    <li class="post-item">
      <div class="meta">
        <time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</time>
      </div>
      <span style="white-space: nowrap;"><a href="{{ .Permalink }}">{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</a></span>
      <div class="descripiton">{{ if .Description }}&nbsp- {{ .Description }}{{ end }}</div>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</div>
{{ end }}